/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f4f8;
  padding: 0px 30px;
  border-bottom: 1px solid #ddd;
  height: 72px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  color: #003049;
}

.logo span {
  color: #669bbc;
  font-weight: 400;
  font-size: 0.85em;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #003049;
  font-size: 0.95em;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #669bbc;
}

.btn-inicio-sesion {
  background-color: #669bbc;  /* azul */
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-inicio-sesion:hover {
  background-color: #e0e0e0; /* azul un poco más oscuro al pasar el mouse */
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}