<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

<body>
  <!-- Header -->
  <%- include('partials/header') %>

  <section class="hero">
    <div class="hero-text">
      <h1>¿Casas? Tenemos.<br />¿Excusas? No.</h1>
    </div>
  </section>

  <section class="servicios">
    <h2>Servicios</h2>
    <div class="grid-servicios">
      <a href="/property/create" class="link-servicio">
        <div class="servicio">
          <h4>PUBLICÁ TU PROPIEDAD</h4>
          <p>¿Estás pensando en vender tu casa?</p>
        </div>
      </a>
      <a href="/property" class="link-servicio">
        <div class="servicio">
          <h4>BUSCÁ TU NUEVO HOGAR</h4>
          <p> ¡Queremos ayudarte!</p>
        </div>
      </a>
    </div>
  </section>


  <section class="alquileres">
    <div class="alquiler">
      <img src="/img/system/img1.avif" alt="Casa moderna" />
      <div class="info">
        <h3>+200 propiedades activas</h3>
        <p>Explorá nuestra selección de más de 200 propiedades disponibles para alquiler en Santiago del Estero. Departamentos, casas y terrenos en las mejores zonas, listos para vos.</p>
        <a href="#" class="btn">CONSÚLTANOS YA</a>
      </div>
    </div>

    <div class="alquiler">
      <img src="/img/system/img2.avif" alt="Casa clásica" />
      <div class="info">
        <h3>120 contratos cerrados en el último mes</h3>
        <p>Atrae a compradores potenciales con una descripción clara.</p>
        <a href="#" class="btn">CONSÚLTANOS YA</a>
      </div>
    </div>

    <div class="alquiler">
      <img src="/img/system/img3.avif" alt="Apartamento Belden Park" />
      <div class="info">
        <h3>5 años de experiencia en el mercado </h3>
        <p>Atrae a compradores potenciales con una descripción clara.</p>
        <a href="#" class="btn">CONSÚLTANOS YA</a>
      </div>
    </div>
  </section>

<%- include('partials/footer') %>

</body>
</html>