<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', { title: 'Inicio de Sesi칩n', stylesheet: '/css/sesion.css'}) %>

<body>
  <div class="container">
    <h1>Inicio de Sesi칩n</h1>
    <form id="loginForm">
      <input type="email" id="loginEmail" placeholder="Email" required />
      <input type="password" id="loginPassword" placeholder="Contrase침a" required />
      <button type="submit">Iniciar Sesi칩n</button>
    </form>
  </div>

  <script src="/script.js"></script>
</body>
</html>