<footer class="footer">
  <div class="footer-left">
    <div class="footer-logo">
      <h2>Zenit <span>Alquileres</span></h2>
    </div>
    <div class="footer-contacto">
      <h4>CONTACTO</h4>
      <p>Olaechea 1005</p>
      <p>Teléfono: 612 345 678 📞</p>
      <p>zenitalquileres@gmail.com 📧</p>
    </div>
  </div>

  <div class="footer-social">
    <a href="#"><img src="facebook.png" alt="Facebook"></a>
    <a href="#"><img src="twitter.png" alt="Twitter"></a>
    <a href="#"><img src="instagram.png" alt="Instagram"></a>
    <a href="#"><img src="linkedin.png" alt="LinkedIn"></a>
  </div>
</footer>