<footer class="footer">
  <div class="footer-left">
    <div class="footer-logo">
      <h2>Zenit <span>Alquileres</span></h2>
    </div>
    <div class="footer-contacto">
      <h4>CONTACTO</h4>
      <p>Olaechea 1005</p>
      <p>Teléfono: 612 345 678 📞</p>
      <p>zenitalquileres@gmail.com 📧</p>
    </div>
  </div>

  <div class="footer-social">
    <a href="https://facebook.com"><img src="/img/system/facebook.png" alt="Facebook"></a>
    <a href="https://x.com"><img src="/img/system/x.png" alt="X"></a>
    <a href="https://instagram.com"><img src="/img/system/instagram.png" alt="Instagram"></a>
    <a href="https://linkedin.com"><img src="/img/system/linkedin.png" alt="LinkedIn"></a>
    <a href="https://github.com"><img src="/img/system/github.png" alt="Github"></a>
  </div>
</footer>