<header class="navbar">
    <div class="logo"><a href="/">Zenit <span>Alquileres</span></a></div>
    <nav>
      <ul>
        <li><a href="/user/managment">Propiedades</a></li>
        <li><a href="/user/1"><img src="/img/users/default.png" alt="Foto de perfil" class="profile-img"></a></li>
      </ul>
    </nav>
</header>