<header class="navbar">
    <div class="logo"><a href="/">Zenit <span>Alquileres</span></a></div>
    <nav>
      <ul>
        <li><a href="/user/login" class="btn-inicio-sesion">Iniciar Sesión</a></li>
      </ul>
    </nav>
</header>